<!--
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/jquery.raty.min.js"></script>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
-->
<%- include("header") -%>
  <div class="container">
    <h2>Create a new Review</h2>
    <form action="/reviews/new" method="POST">
      <div class="form-group">
        <label for="workspaceId">Workspace ID:</label>
        <input type="text" class="form-control" id="workspaceId" name="workspaceId" value="<%= workspaceId %>" required readonly>
      </div>
          
      <div class="form-group">
        <label for="rating">Rating:</label>
        <div id="star"></div>
        <input type="hidden" id="rating" name="rating">
      </div>
      
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" id="comment" name="comment" ></textarea>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
  <script>
    $(document).ready(function() {
      $('#star').raty({
        path: 'https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/images', // Make sure to use the correct path to the images
        score: 3, // Initial rating
        click: function(score, evt) {
          $('#rating').val(score); // Set the score in the hidden input
        }
      });
    });
  </script>
<%- include("footer") -%>
