<%- include("header") -%>
  <div class="container">
    <h2>Signup</h2>
    <% if (typeof error !== 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% } %>
    <form action="/signup" method="POST">
      <div class="form-group">
        <label for="name">Name:
          <span class="ml-2 fas fa-question-circle question" tabindex="0"></span>
          <span class="tooltip-custom">Must be at least 3 characters and only contain alphabet characters.</span>
        </label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number:
          <span class="ml-2 fas fa-question-circle question" tabindex="0"></span>
          <span class="tooltip-custom">Must be at least 8 digits.</span>
        </label>
        <input type="text" class="form-control" id="phoneNumber" placeholder="Enter phone number" name="phoneNumber" required>
      </div>
      <div class="form-group">
        <label for="email">Email:
          <span class="ml-2 fas fa-question-circle question" tabindex="0"></span>
          <span class="tooltip-custom">Must be a valid email and end with a valid domain extension.</span>
        </label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>
      <div class="form-group">
        <label for="role">Role:</label>
        <select class="form-control" id="role" name="role" required>
          <option>Owner</option>
          <option>Coworker</option>
        </select>
      </div>
      <div class="form-group">
        <label for="pwd">Password:
          <span class="ml-2 fas fa-question-circle question" tabindex="0"></span>
          <span class="tooltip-custom">Must be at least 8 characters long.</span>
        </label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>Have an account? <a href="/login">Log In</a></p>
  </div>
  <%- include("footer") -%>
